#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;
    /*row | row-reverse | column | column-reverse*/   
    flex-direction: row ;
    /* nowrap | wrap | wrap-reverse*/
    flex-wrap: nowrap;
    /*flex-start | flex-end | center | space-around*/
    justify-content: space-around;
    /*strech | center | flex-start | flex-end | baseline*/
    align-items: ;
}

.item{
    width: 100px;
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;
}


