/**********seletor universal***********
* {
    border: 1px red solid;
}
********seletor de texto***********
h1{
    color: green;
}
********seletor de classe*********
.verde{
    color: green;
}
p.verde{
    color: green;
} */
/*********seletor  de id**********
#cabecalho {
    border: 1px solid blue;
}
/************seletor filho *********
li>a {
    color: red;
    text-decoration: none;
}
***seletor descedent (não é da disney)***
p a {
    color: chartreuse;
}
********seletor irmão adjascente*********
h1+p{
    color: red;
}
********seletor de irmão  geral *******/
h1~p{
    color: pink;
}